


			 html {
				width: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				width: 100%;
				-webkit-text-size-adjust: none;
				-ms-text-size-adjust: none;
			}
			img {
				display: block !important;
				border: 0;
				-ms-interpolation-mode: bicubic;
			}
			 .ReadMsgBody {
				width: 100%;
			}
			.ExternalClass {
				width: 100%;
			}
			.ExternalClass,
			.ExternalClass p,
			.ExternalClass span,
			.ExternalClass font,
			.ExternalClass td,
			.ExternalClass div {
				line-height: 100%;
			}
			 .images {
				display: block !important;
				width: 100% !important;
			}
			.MsoNormal {
				font-family:Open Sans,Arial, Helvetica Neue, Helvetica, sans-serif !important;
			}
			p {
				margin: 0 !important;
				padding: 0 !important;
			}
			.display-button td,
			.display-button a {
				font-family:Open Sans, Arial, Helvetica Neue, Helvetica, sans-serif !important;
			}
			.display-button a:hover {
				text-decoration: none !important;
			}

			/* MYMAIL STYLES */

			a { color: #ff4202; text-decoration: none; }

			.textbutton a { font-family: 'open sans', arial, sans-serif !important; color: #ffffff !important; }

			/* MYMAIL PREHEADER - HIDDEN BY DEFAULT */
			div.preheader{line-height:0px;font-size:0px;height:0px;display:none !important;display:none;visibility:hidden;}


			/* MEDIA QUIRES */


			@media only screen and (max-width:640px) {
				body {
					width:auto !important;
				}
				table[class=display-width] {
					width:100% !important;
				}
				table[class=nulltable] {
					display:none !important;
				}
				.null {
					display:none !important;
				}
				.hide-height {
					height:0 !important;
				}
				.common-height {
					height:40px !important;
				}
				.hide {
					display:none !important;
				}
				.remove {
					border:none !important;
				}
				.choose {
					padding-right:0 !important;
				}
				.remove-bar {
					display:none !important;
				}
				.phone {
					width:55% !important;
				}
				.follow {
					width:15px !important;
				}
				.resp-content{text-align:center !important;}
			}

			@media only screen and (max-width:480px) {
				table[class=display-width] table {
					width:100% !important;
				}
				table[class=display-width] .button-width .display-button {
					width:auto !important;
				}
				.menu {
					font-size:12px !important;
				}
				table[class=display-width] .phone {
					width:55% !important;
				}

				table[class=display-width] table[class=display-width-list] {
					width:auto !important;
				}
			}

			@media only screen and (max-width:350px) {
				table[class=display-width] .phone {
					width:auto !important;
				}
			}
      body{margin-top:20px;}

      .align-center {
          text-align: center;
      }
      .hash-list {
          display: block;
          padding: 0;
          margin: 0 auto;
      }

      @media (min-width: 768px){
          .hash-list.cols-3 > li:nth-last-child(-n+3) {
              border-bottom: none;
          }
      }
      @media (min-width: 768px){
          .hash-list.cols-3 > li {
              width: 33.3333%;
          }
      }
      .hash-list > li {
          display: block;
          float: left;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      .pad-30, .pad-30-all > * {
          padding: 30px;
      }
      img {
          border: 0;
      }
      .mgb-20, .mgb-20-all > * {
          margin-bottom: 20px;
      }
      .wpx-100, .wpx-100-after:after {
          width: 100px;
      }
      .img-round, .img-rel-round {
          border-radius: 50%;
      }
      .padb-30, .padb-30-all > * {
          padding-bottom: 30px;
      }

      .mgb-40, .mgb-40-all > * {
          margin-bottom: 40px;
      }
      .align-center {
          text-align: center;
      }
      [class*="line-b"] {
          position: relative;
          padding-bottom: 20px;
          border-color: #E6AF2A;
      }
      .fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
          color: #222;
      }
      .font-cond-b {
          font-weight: 700 !important;
      }
		
